:root {
	--main:		#EEAA44;
	--black:	#404040;
	--gray:		#AFAFAF;
	--white:	#F0F0F0;

	--text:		"Open Sans", serif;
	--code:		"Roboto Mono", serif;

	--syntax_html:		#ee8156;
	--syntax_comment:	#c4c4c4;
	--syntax_iguana:	#77adf0;

	/* --text:		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--code:		'Courier New', Courier, monospace; */
}

* {
	font-family: var(--text);
	/* font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100; */

	margin: 0;
	padding: 0;

	text-align: center;
}


html {
	/* background-color: var(--white); */
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--black);
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: 20px;

	background-color: var(--white);
}
nav a {
	margin: 0 80px;
	display: flex;
	flex-direction: column;
	
}
nav a p {
	margin-top: 8px;
	color: var(--gray);
}
nav a i {
	/* box-shadow: 0px 0px 24px -8px var(--gray); */
	font-size: 34px;
	color: var(--main);
}
nav a:hover p {
	transition: .5s;
	color: var(--main);
}

header, footer {
	padding: 70px 20px;
}
header *, footer * {
	margin: 12px;
}
footer {
	background-color: var(--black);
	color: var(--gray);
}
header .title {
	font-size: 100px;
	color: var(--main);
}
footer .title {
	font-size: 26px;
	color: var(--white);
}
footer hr {
	margin: 60px auto 0 auto;
	width: 60%;
	border-color: var(--gray);
}
footer nav {
	background-color: inherit;
}



.subtitle {
	margin: 28px 12px 40px 12px;
	font-size: 18px;
	color: var(--gray);
}

.button_getStarted {
	max-width: fit-content;

	margin: auto;
	padding: 8px 22px;

	background-color: var(--main);
	color: var(--black);

	border: 0px solid;
	border-radius: 10px;
}

/* div.content {
	width: 100%;
	display: flex;
	flex-direction: row;
}
div.side {
	width: 20%;
}
div.middle {
	width: 60%;
} */


.row {
	display: flex;

	padding: 40px 20%;
}
.row.accent {
	background-color: var(--white);
	
}
.description {
	width: 60%;
	padding: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.description p {
	font-size: 18px;
	min-width: 200px;
}
.row.usual .description * {
	padding-left: 30%;
	text-align: right;
	margin: 10px 0;
}
.row.accent .description * {
	padding-right: 30%;
	text-align: left;
	margin: 10px 0;
}
.row .code {
	display: inline-block;
	text-align: left;
}
.code {
	width: 40%;
	min-width: fit-content;

	padding: 20px;

	font-size: 18px;

	border-radius: 8px;

	background-color: var(--black);

	white-space: pre;
}
.code span {
	font-family: var(--code);
	color: var(--white);
}
span.html {
	color: var(--syntax_html);
}
span.iguana {
	color: var(--syntax_iguana);
}
span.comment {
	color: var(--syntax_comment);
}

