:root {
	--main:		#EEAA44;
	--black:	#404040;
	--gray:		#AFAFAF;
	--white:	#F0F0F0;

	--text:		"Open Sans", serif;
	--code:		"Roboto Mono", serif;

	--syntax_html:		#e57347;
	--syntax_iguana:	#579cf1;

	/* --text:		'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--code:		'Courier New', Courier, monospace; */
}

* {
	font-family: var(--text);
	/* font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100; */

	margin: 0;
	padding: 0;

	text-align: center;
}


html {
	/* background-color: var(--white); */
}
header, footer {
	padding: 70px 20px;
}
header *, footer * {
	margin: 12px;
}
footer {
	background-color: var(--black);
}

header .title {
	font-size: 100px;
	color: var(--main);
}
footer .title {
	font-size: 26px;
	color: var(--white);
}


.subtitle {
	margin: 28px 12px 40px 12px;
	font-size: 18px;
	color: var(--gray);
}

.button_getStarted {
	max-width: fit-content;

	margin: auto;
	padding: 8px 22px;

	background-color: var(--main);

	border: 0px solid;
	border-radius: 10px;
}

.row {
	display: flex;

	margin: 70px 40px;
}
.row .description, .row .code {
	display: inline-block;
	text-align: left;
}
.code {
	width: 40%;

	padding: 20px;

	font-size: 18px;

	border-radius: 8px;

	background-color: var(--black);
}
.code span {
	font-family: var(--code);
	color: var(--white);
}
span.html {
	color: var(--syntax_html);
}
span.iguana {
	color: var(--syntax_iguana);
}

.description {
	width: 60%;
	
	padding: 20px;
}